<!-- Модульное окно -->
<div  class="form  mb-3">
    <label class="col-sm-2 col-form-label">ФИО</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="Employee.EmployeeName"
             placeholder="Введите ФИО">
    </div>

    <label class="col-sm-2 col-form-label">Отдел</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="Employee.Department"
             placeholder="Введите отдел">
    </div>
  
    <label class="col-sm-2 col-form-label">Дата начала работы</label>
    <div class="col-sm-10">
      <input type="date" [(ngModel)]="Employee.DateOfJoining">
    </div>
  
    <label class="col-sm-2 col-form-label">Дата Рождения</label>
    <div class="col-sm-10">
      <input type="date" [(ngModel)]="Employee.DateOfBirth">
    </div>

    <label class="col-sm-2 col-form-label">Зарплата</label>
    <div class="input-group mb-3">
        <span class="input-group-text">₽</span>
        <input type="text" class="form-control" [(ngModel)]="Employee.Salary">
        <span class="input-group-text">.00</span>
      </div>
    </div>
  
  <button (click)="addEmployee()" *ngIf="Employee.EmployeeID==0" class="btn btn-success">
    Добавить
  </button>
  
  <button (click)="updateEmployee()" *ngIf="Employee.EmployeeID!=0" class="btn btn-success">
    Сохранить
  </button>